
.instructions {
    font-size: 18;
}
.parsons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
}

.parsons-column-ss, .parsons-column-ps {
    display: grid;  
    row-gap: 5px;
    border: 1px solid black;
    padding: 10px;
}

.parsons-row-ss, .parsons-ps {
    /* grid-template-columns: 1fr 1fr 2fr;   slots for indented blocks */
    /*display: flex;*/
    position: relative;
    border: 1px dotted black;
}
.parsons-ss {
    /*flex-grow: 1;*/
    position: absolute;
    width: 500px;
}

.parsons-ss.dragover {
    background-color: yellow;
}

.parsons-ps, .parsons-ss {
    height: 60px;
}

.parsons-block  {
    height: 50px;  /* Fixed height for element */
    user-select: none;
    font-size: 18;
    font-family: monospace;

}
.parsons-block {
    width: 500px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
}


.parsons-output {
    border: 2px solid black;
    background-color: lightgray;
    width: 30%;
    height: 300px;
    padding: 5px;
    font-size: 18;
    font-family: monospace;

}

.parsons-output-line {
    display: block;
}

.parsons-error {
    background-color: lightcoral;
}