[submodule "python-camp-hw-2-gr"]
	path = homework-modules/python-camp-hw-2-gr
	url = https://github.com/gwu-libraries/python-camp-hw-2-gr.git
[submodule "homework-modules/python-camp-hw-2-gr"]
	path = homework-modules/python-camp-hw-2-gr
	url = https://github.com/gwu-libraries/python-camp-hw-2-gr
[submodule "homework-modules/python-camp-hw-4-gr"]
	path = homework-modules/python-camp-hw-4-gr
	url = https://github.com/gwu-libraries/python-camp-hw-4-gr.git
