# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: "Python Camp: Programming for Beginners"
author: "GW Libraries & Academic Innovation"
logo: python-camp.png
exclude_patterns:
  [_build, Thumbs.db, .DS_Store, "**.ipynb_checkpoints", "parsons-yaml"]
# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: "off"

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/gwu-libraries/python-camp # Online location of your book
  path_to_book: _sources # Optional path to your book, relative to the repository root
  branch: gh-pages # Which branch of the repository should be used when creating links (optional)

launch_buttons:
  notebook_interface: "classic"
  colab_url: "https://colab.research.google.com"
  jupyterhub_url: "https://jupyter.lai.gwu.edu/"

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

parse:
  myst_substitutions:
    application_url: "[application form](https://forms.gle/Ghhhv5VoNE331Ce56)" # Insert URL for Google Form here
    application_deadline: January 31, 2026 # Deadline for form
    camp_name: Spring 2026
    schedule: |
      :::{list-table}
      :header-rows: 1

      * - Date
        - Day
        - Time
      * - March 9, 2026
        - Monday
        - 1 pm - 5 pm
      * - March 10, 2026
        - Tuesday
        - 1 pm - 5 pm
      * - March 12, 2026
        - Thursday
        - 1 pm - 5 pm
      * - March 13, 2026
        - Friday
        - 1 pm - 5 pm
      :::
  myst_enable_extensions:
    # - amsmath
    - colon_fence
    - deflist
    - dollarmath
    # - html_admonition
    # - html_image
    - linkify
    # - replacements
    # - smartquotes
    - substitution
    - tasklist
    - html_image

sphinx:
  recursive_update: true
  config:
    html_extra_path: ["parsons-assets", "static-assets"] # Parsons Problems .js, .css, and .html live here, as well as inline images for notebooks
